:root {
  --theme-text: #85859B;
  --theme-title: #4C5866;
  --theme-backround: #fff;
  --theme-grey-backround: #EBEBEB;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, ul {
  margin: 0;
}

h1, h2 {
  color: var(--theme-title);
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--theme-text);
  background-color: var(--theme-backround);
}

.container {
  max-width: 1110px;
}

nav {
  display: flex;
}

.navigation {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #DDDDDD;
}
.navigation .navigation__wrapp {
  display: flex;
  justify-content: space-between;
}
.navigation .navigation__wrapp .navigation__list {
  display: flex;
  gap: 60px;
  color: var(--theme-title);
  font-size: 20px;
}
.navigation .navigation__wrapp .navigation__list a {
  text-decoration: none;
  color: var(--theme-text);
  transition: 300ms;
}
.navigation .navigation__wrapp .navigation__list a:hover {
  color: #7875FE;
}
.navigation .navigation__wrapp .navigation__list .navigation__list-box {
  display: flex;
  gap: 30px;
}
.navigation .navigation__wrapp .navigation__list .navigation__list-box .navigation__list-box-theme img {
  height: 35px;
  width: 35px;
}

.paper .roll {
  padding-top: 60px;
}
.paper .information {
  padding-top: 130px;
}
.paper .information h1 {
  color: var(--theme-title);
  font-size: 60px;
  line-height: 1;
}
.paper .information p {
  padding-top: 30px;
  padding-bottom: 30px;
}
.paper .information button {
  padding: 20px 90px;
  font-size: 20px;
  color: #7875FE;
  background-color: #fff;
  border: 1px solid #7875FE;
  transition: 300ms;
}
.paper .information button:hover {
  background-color: #7875FE;
  color: #fff;
}

.whiteness {
  padding-top: 90px;
  background-color: var(--theme-grey-backround);
  padding-bottom: 90px;
}

.ver1 {
  background-image: url("public/v1.png");
  border-top: 1px solid #c0c0c0;
  padding: 37px 0 37px 190px;
  background-position: left center;
  background-size: 160px 118px;
  background-repeat: no-repeat;
}

.ver2 {
  background-image: url("public/v2.png");
  border-top: 1px solid #c0c0c0;
  padding: 37px 0 37px 190px;
  background-position: left center;
  background-size: 160px 118px;
  background-repeat: no-repeat;
}

.ver3 {
  background-image: url("public/v3.png");
  border-top: 1px solid #c0c0c0;
  padding: 37px 0 37px 190px;
  background-position: left center;
  background-size: 160px 118px;
  background-repeat: no-repeat;
}

span {
  color: var(--theme-title);
}

.ver4 {
  padding-top: 90px;
}

.papers-text {
  padding-top: 145px;
}
.papers-text h2 {
  font-size: 40px;
}
.papers-text p {
  line-height: 1.7;
}

.items {
  margin-top: 90px;
  padding-bottom: 90px;
}

.items__card .items__card-img {
  padding-bottom: 20px;
}
.items__card h2 {
  font-size: 30px;
  padding-bottom: 8px;
}
.items__card .circulation {
  color: #B5B5BD;
  font-size: 14px;
  padding-bottom: 10px;
}
.items__card .items__card-text {
  padding-bottom: 20px;
}
.items__card button {
  padding: 0;
  border: none;
  color: #7875FE;
  fill: currentColor;
  background-color: #FFF;
  font-size: 20px;
  transition: 300ms;
}
.items__card button svg {
  fill: #7875FE;
}
.items__card button:hover {
  color: #4946B4;
}

.partners {
  background-color: var(--theme-grey-backround);
  padding: 90px 0;
}

.partners__card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  height: 135px;
}

.sketchbook .sketchbook__img {
  padding-top: 90px;
}
.sketchbook .sketchbook__card {
  padding-top: 114px;
}
.sketchbook .sketchbook__card h2 {
  font-size: 40px;
  color: #666666;
}
.sketchbook .sketchbook__card p {
  padding-bottom: 30px;
}
.sketchbook .sketchbook__card button {
  padding: 20px 90px;
  font-size: 20px;
  color: #7875FE;
  background-color: #fff;
  border: 1px solid #7875FE;
  transition: 300ms;
}
.sketchbook .sketchbook__card button:hover {
  background-color: #7875FE;
  color: #fff;
}

footer {
  display: flex;
  background-color: #4C5866;
}

.footer__line {
  padding: 3px 0;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #4C5866;
}
.footer__line span {
  color: #bcbcbc;
}

.footer__wrapp {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  gap: 30px;
}

/*# sourceMappingURL=style.css.map */
