*,
*::before,
*::after {
  box-sizing: border-box;
}

body,p,h1,h2,h3,h4,h5,ul {
  margin: 0;
}

h1,h2 {
  color: $title
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $text;
}

.container, .container-fluid {
  padding-left: 100px;
  padding-right: 110px;
}

.button {

}