*,
*::before,
*::after {
  box-sizing: border-box;
}

body,p,h1,h2,h3,h4,h5,ul {
  margin: 0;
}

h1,h2 {
  color: var(--theme-title);
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--theme-text);
  background-color: var(--theme-backround);
}

.container {
  max-width: 1110px;
}