.paper{
  .roll {
    padding-top: 60px;
  }

  .information {
    padding-top: 130px;
    h1 {
      color: var(--theme-title);
      font-size: 60px;
      line-height: 1;
    }
    p {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    button {
      padding: 20px 90px;
      font-size: 20px;
      color: #7875FE;
      background-color: #fff;
      border: 1px solid #7875FE;
      transition: 300ms;

      &:hover {
        background-color: #7875FE;
        color: #fff
      }
    }
  }
}
