.sketchbook {
  .sketchbook__img {
    padding-top: 90px;
  }
  .sketchbook__card {
    padding-top: 114px;
    h2{
      font-size: 40px;
      color: #666666;
    }
    p {
      padding-bottom: 30px;
    }
    button {
      padding: 20px 90px;
      font-size: 20px;
      color: #7875FE;
      background-color: #fff;
      border: 1px solid #7875FE;
      transition: 300ms;

      &:hover {
        background-color: #7875FE;
        color: #fff
      }
    }
  }
}